@inherits LayoutComponentBase

<div
    class="min-h-screen flex items-center justify-center p-4 bg-gradient-to-br from-purple-400 via-pink-500 to-red-500 text-gray-800">
    <main>
        @Body
    </main>
</div>