@page "/"

<PageTitle>Home</PageTitle>

<div class="p-4">
    <h1 class="text-4xl">4xl</h1>
    <h1 class="text-3xl">3xl</h1>
    <h1 class="text-2xl">2xl</h1>
    <h1 class="text-xl">xl</h1>
</div>
